<!--
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>
<div class="error" *ngIf="error">{{error}}</div>
<button (click)="addHero()">Add New Hero</button>
<button class="delete-button" (click)="deleteHero(hero, $event)">Delete</button>
<div *ngIf="addingHero">
  <my-hero-detail (close)="close($event)"></my-hero-detail>
</div>
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
-->

<div class="main">
    <h3>Очки : {{points}}</h3>
    <h2 style="font-weight: normal;">Выбери перевод слова</h2>
    <h2>{{heroes.word}}</h2>
    <ul>
        <li *ngFor="let answer of heroes.answers" (click)="testAnswer(this, answer)">{{answer}}</li>
    </ul>
</div>